<div class ="section">

  <p id="notice"><%= notice %></p>

  <h2>Inputs</h1>

  <table class ='table-minimal'>
  <thead>
    <tr>
      <th>Product</th>
      <th>Price</th>
      <th>Units</th>
      <th>Supplier</th>
      <th>Year</th>
      <th>User</th>
      <th>Input type</th>
      <th>Quantity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @inputs.each do |input| %>
      <tr>
        <td><%= input.product %></td>
        <td><%= input.price %></td>
        <td><%= input.units %></td>
        <td><%= input.supplier %></td>
        <td><%= input.year %></td>
        <td><%= input.user_id %></td>
        <td><%= input.input_type %></td>
        <td><%= input.quantity %></td>
        <td><%= link_to 'Show', input %></td>
        <td><%= link_to 'Edit', edit_input_path(input) %></td>
        <td><%= link_to 'Destroy', input, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
  </table>

  <br>

  <%= link_to 'New Input', new_input_path %>
</div>
