
		<div class="hold">
			<div class="container">
				<div class="row row-box">
					<div class="white-box markets-block">
						<div class="heading">
							<h2>futures markets</h2>
						</div>
						<div class="table-area">
							<div class="jcf-scrollable">
								<div class="table-holder">
									<div class="table-box">
										<h3>corn</h3>
										<table>
											<tr>
												<th><time class="date" datetime="2015-03-23">mar 2015</time></th>
												<td>$ 4,15</td>
												<td><mark class="red">$ -15</mark></td>
											</tr>
											<tr>
												<th><time class="date" datetime="2015-03-23">mar 2015</time></th>
												<td>$ 4,15</td>
												<td><mark class="red">$ -15</mark></td>
											</tr>
											<tr>
												<th><time class="date" datetime="2015-12-23">dec 2015</time></th>
												<td>$ 4,25</td>
												<td><mark class="red">$ -12</mark></td>
											</tr>
											<tr>
												<th><time class="date" datetime="2015-03-23">mar 2015</time></th>
												<td>$ 9,75</td>
												<td><mark>$ +05</mark></td>
											</tr>
											<tr>
												<th><time class="date" datetime="2015-11-23">nov 2015</time></th>
												<td>$ 9,90</td>
												<td><mark>$ +06</mark></td>
											</tr>
											<tr>
												<th><time class="date" datetime="2015-11-23">nov 2015</time></th>
												<td>$ 9,90</td>
												<td><mark>$ +06</mark></td>
											</tr>
										</table>
									</div>
									<div class="table-box">
										<h3>soybeans</h3>
										<table>
											<tr>
												<th><time class="date" datetime="2015-03-23">mar 2015</time></th>
												<td>$ 4,15</td>
												<td><mark class="red">$ -15</mark></td>
											</tr>
											<tr>
												<th><time class="date" datetime="2015-03-23">mar 2015</time></th>
												<td>$ 4,15</td>
												<td><mark class="red">$ -15</mark></td>
											</tr>
											<tr>
												<th><time class="date" datetime="2015-12-23">dec 2015</time></th>
												<td>$ 4,25</td>
												<td><mark class="red">$ -12</mark></td>
											</tr>
											<tr>
												<th><time class="date" datetime="2015-03-23">mar 2015</time></th>
												<td>$ 9,75</td>
												<td><mark>$ +05</mark></td>
											</tr>
											<tr>
												<th><time class="date" datetime="2015-11-23">nov 2015</time></th>
												<td>$ 9,90</td>
												<td><mark>$ +06</mark></td>
											</tr>
											<tr>
												<th><time class="date" datetime="2015-11-23">nov 2015</time></th>
												<td>$ 9,90</td>
												<td><mark>$ +06</mark></td>
											</tr>
										</table>
									</div>
									<div class="table-box">
										<h3>spring wheat</h3>
										<table>
											<tr>
												<th><time class="date" datetime="2015-03-23">mar 2015</time></th>
												<td>$ 4,15</td>
												<td><mark class="red">$ -15</mark></td>
											</tr>
											<tr>
												<th><time class="date" datetime="2015-03-23">mar 2015</time></th>
												<td>$ 4,15</td>
												<td><mark class="red">$ -15</mark></td>
											</tr>
											<tr>
												<th><time class="date" datetime="2015-12-23">dec 2015</time></th>
												<td>$ 4,25</td>
												<td><mark class="red">$ -12</mark></td>
											</tr>
											<tr>
												<th><time class="date" datetime="2015-03-23">mar 2015</time></th>
												<td>$ 9,75</td>
												<td><mark>$ +05</mark></td>
											</tr>
											<tr>
												<th><time class="date" datetime="2015-11-23">nov 2015</time></th>
												<td>$ 9,90</td>
												<td><mark>$ +06</mark></td>
											</tr>
											<tr>
												<th><time class="date" datetime="2015-11-23">nov 2015</time></th>
												<td>$ 9,90</td>
												<td><mark>$ +06</mark></td>
											</tr>
										</table>
									</div>
									<div class="table-box">
										<h3>corn</h3>
										<table>
											<tr>
												<th><time class="date" datetime="2015-03-23">mar 2015</time></th>
												<td>$ 4,15</td>
												<td><mark class="red">$ -15</mark></td>
											</tr>
											<tr>
												<th><time class="date" datetime="2015-03-23">mar 2015</time></th>
												<td>$ 4,15</td>
												<td><mark class="red">$ -15</mark></td>
											</tr>
											<tr>
												<th><time class="date" datetime="2015-12-23">dec 2015</time></th>
												<td>$ 4,25</td>
												<td><mark class="red">$ -12</mark></td>
											</tr>
											<tr>
												<th><time class="date" datetime="2015-03-23">mar 2015</time></th>
												<td>$ 9,75</td>
												<td><mark>$ +05</mark></td>
											</tr>
											<tr>
												<th><time class="date" datetime="2015-11-23">nov 2015</time></th>
												<td>$ 9,90</td>
												<td><mark>$ +06</mark></td>
											</tr>
											<tr>
												<th><time class="date" datetime="2015-11-23">nov 2015</time></th>
												<td>$ 9,90</td>
												<td><mark>$ +06</mark></td>
											</tr>
										</table>
									</div>
									<div class="table-box">
										<h3>soybeans</h3>
										<table>
											<tr>
												<th><time class="date" datetime="2015-03-23">mar 2015</time></th>
												<td>$ 4,15</td>
												<td><mark class="red">$ -15</mark></td>
											</tr>
											<tr>
												<th><time class="date" datetime="2015-03-23">mar 2015</time></th>
												<td>$ 4,15</td>
												<td><mark class="red">$ -15</mark></td>
											</tr>
											<tr>
												<th><time class="date" datetime="2015-12-23">dec 2015</time></th>
												<td>$ 4,25</td>
												<td><mark class="red">$ -12</mark></td>
											</tr>
											<tr>
												<th><time class="date" datetime="2015-03-23">mar 2015</time></th>
												<td>$ 9,75</td>
												<td><mark>$ +05</mark></td>
											</tr>
											<tr>
												<th><time class="date" datetime="2015-11-23">nov 2015</time></th>
												<td>$ 9,90</td>
												<td><mark>$ +06</mark></td>
											</tr>
											<tr>
												<th><time class="date" datetime="2015-11-23">nov 2015</time></th>
												<td>$ 9,90</td>
												<td><mark>$ +06</mark></td>
											</tr>
										</table>
									</div>
									<div class="table-box">
										<h3>spring wheat</h3>
										<table>
											<tr>
												<th><time class="date" datetime="2015-03-23">mar 2015</time></th>
												<td>$ 4,15</td>
												<td><mark class="red">$ -15</mark></td>
											</tr>
											<tr>
												<th><time class="date" datetime="2015-03-23">mar 2015</time></th>
												<td>$ 4,15</td>
												<td><mark class="red">$ -15</mark></td>
											</tr>
											<tr>
												<th><time class="date" datetime="2015-12-23">dec 2015</time></th>
												<td>$ 4,25</td>
												<td><mark class="red">$ -12</mark></td>
											</tr>
											<tr>
												<th><time class="date" datetime="2015-03-23">mar 2015</time></th>
												<td>$ 9,75</td>
												<td><mark>$ +05</mark></td>
											</tr>
											<tr>
												<th><time class="date" datetime="2015-11-23">nov 2015</time></th>
												<td>$ 9,90</td>
												<td><mark>$ +06</mark></td>
											</tr>
											<tr>
												<th><time class="date" datetime="2015-11-23">nov 2015</time></th>
												<td>$ 9,90</td>
												<td><mark>$ +06</mark></td>
											</tr>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="weather-block white-box">
						<div class="holder">
							<div class="columns">
								<div class="col">
									<i class="icon-thermometer"></i>
									<dl class="weather-info">
										<dt>Humidity</dt>
										<dd>65%</dd>
										<dt>Wind</dt>
										<dd>NW 5 mph</dd>
									</dl>
								</div>
								<div class="col">
									<strong class="title">weather now</strong>
									<b class="temp">21&deg;</b>
									<i class="ico-weather"><a href="#" class="icon-sunny"></a></i>
								</div>
							</div>
							<div class="short-info jcf-scrollable">
								<div class="item">
									<i class="ico-weather"><a href="#" class="icon-sun"></a></i>
									<b class="week-day">wed</b>
									<span class="degrees">
										<b>35&deg;</b>
										29&deg;
									</span>
								</div>
								<div class="item">
									<i class="ico-weather"><a href="#" class="icon-sun"></a></i>
									<b class="week-day">thu</b>
									<span class="degrees">
										<b>35&deg;</b>
										29&deg;
									</span>
								</div>
								<div class="item">
									<i class="ico-weather"><a href="#" class="icon-sun"></a></i>
									<b class="week-day">fri</b>
									<span class="degrees">
										<b>35&deg;</b>
										29&deg;
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="white-box same-height-ignore">
						<div class="switch-gallery-holder">
							<div class="head-gallery">
								<div class="heading">
									<div class="mask">
										<div class="slideset">
											<div class="slide">
												<h2>Crop Summary - corn</h2>
											</div>
											<div class="slide">
												<h2>Crop Summary - corn 2</h2>
											</div>
											<div class="slide">
												<h2>Crop Summary - corn 3</h2>
											</div>
											<div class="slide">
												<h2>Crop Summary - corn 4</h2>
											</div>
										</div>
									</div>
									<a class="btn-prev icon-arrow-left" href="#"></a>
									<a class="btn-next icon-arrow-right" href="#"></a>
								</div>
							</div>
							<div class="summary-carousel">
								<div class="holder">
									<div class="h-frame">
										<div class="mask">
											<div class="slideset">
												<div class="slide">
													<h3>2014</h3>
													<div class="frame">
														<div class="line">
															<div class="chart">
																<%= image_tag "img-chart01.png" %>
															</div>
															<div class="box">
																<dl>
																	<dt>Acres</dt>
																	<dd>1, 500</dd>
																	<dt>Yield</dt>
																	<dd>100</dd>
																	<dt>Prod</dt>
																	<dd>150, 000</dd>
																</dl>
															</div>
															<div class="box">
																<strong class="title">Case Sales / Headges</strong>
																<dl>
																	<dt>Bushhels</dt>
																	<dd>100</dd>
																	<dt>Avg prices</dt>
																	<dd>$500</dd>
																</dl>
															</div>
														</div>
														<div class="line">
															<div class="chart">
																<%= image_tag "img-chart01.png" %>
															</div>
															<div class="box">
																<dl>
																	<dt>Voriotle</dt>
																	<dd>$300</dd>
																	<dt>Overhead</dt>
																	<dd>$100</dd>
																	<dt>Total</dt>
																	<dd>$400</dd>
																</dl>
															</div>
															<div class="box">
																<strong class="title">Minimum prices</strong>
																<dl>
																	<dt>Bushhels</dt>
																	<dd>100</dd>
																	<dt>Avg prices</dt>
																	<dd>$500</dd>
																</dl>
															</div>
														</div>
														<div class="line">
															<div class="chart">
																<%= image_tag "img-chart01.png" %>
															</div>
															<div class="box">
																<dl>
																	<dt>Coat/ Unit</dt>
																	<dd>$4,00</dd>
																</dl>
															</div>
															<div class="box">
																<strong class="title">Total Protected</strong>
																<dl>
																	<dt>Bushhels</dt>
																	<dd>60,000</dd>
																</dl>
															</div>
														</div>
													</div>
												</div>
												<div class="slide">
													<h3>2015</h3>
													<div class="frame">
														<div class="line">
															<div class="chart">
																<%= image_tag "img-chart01.png" %>
															</div>
															<div class="box">
																<dl>
																	<dt>Acres</dt>
																	<dd>1, 500</dd>
																	<dt>Yield</dt>
																	<dd>100</dd>
																	<dt>Prod</dt>
																	<dd>150, 000</dd>
																</dl>
															</div>
															<div class="box">
																<strong class="title">Case Sales / Headges</strong>
																<dl>
																	<dt>Bushhels</dt>
																	<dd>100</dd>
																	<dt>Avg prices</dt>
																	<dd>$500</dd>
																</dl>
															</div>
														</div>
														<div class="line">
															<div class="chart">
																<%= image_tag "img-chart01.png" %>
															</div>
															<div class="box">
																<dl>
																	<dt>Voriotle</dt>
																	<dd>$300</dd>
																	<dt>Overhead</dt>
																	<dd>$100</dd>
																	<dt>Total</dt>
																	<dd>$400</dd>
																</dl>
															</div>
															<div class="box">
																<strong class="title">Minimum prices</strong>
																<dl>
																	<dt>Bushhels</dt>
																	<dd>100</dd>
																	<dt>Avg prices</dt>
																	<dd>$500</dd>
																</dl>
															</div>
														</div>
														<div class="line">
															<div class="chart">
																<%= image_tag "img-chart01.png" %>
															</div>
															<div class="box">
																<dl>
																	<dt>Coat/ Unit</dt>
																	<dd>$4,00</dd>
																</dl>
															</div>
															<div class="box">
																<strong class="title">Total Protected</strong>
																<dl>
																	<dt>Bushhels</dt>
																	<dd>60,000</dd>
																</dl>
															</div>
														</div>
													</div>
												</div>
												<div class="slide">
													<h3>2016</h3>
													<div class="frame">
														<div class="line">
															<div class="chart">
																<%= image_tag "img-chart01.png" %>
															</div>
															<div class="box">
																<dl>
																	<dt>Acres</dt>
																	<dd>1, 500</dd>
																	<dt>Yield</dt>
																	<dd>100</dd>
																	<dt>Prod</dt>
																	<dd>150, 000</dd>
																</dl>
															</div>
															<div class="box">
																<strong class="title">Case Sales / Headges</strong>
																<dl>
																	<dt>Bushhels</dt>
																	<dd>100</dd>
																	<dt>Avg prices</dt>
																	<dd>$500</dd>
																</dl>
															</div>
														</div>
														<div class="line">
															<div class="chart">
																<%= image_tag "img-chart01.png" %>
															</div>
															<div class="box">
																<dl>
																	<dt>Voriotle</dt>
																	<dd>$300</dd>
																	<dt>Overhead</dt>
																	<dd>$100</dd>
																	<dt>Total</dt>
																	<dd>$400</dd>
																</dl>
															</div>
															<div class="box">
																<strong class="title">Minimum prices</strong>
																<dl>
																	<dt>Bushhels</dt>
																	<dd>100</dd>
																	<dt>Avg prices</dt>
																	<dd>$500</dd>
																</dl>
															</div>
														</div>
														<div class="line">
															<div class="chart">
																<%= image_tag "img-chart01.png" %>
															</div>
															<div class="box">
																<dl>
																	<dt>Coat/ Unit</dt>
																	<dd>$4,00</dd>
																</dl>
															</div>
															<div class="box">
																<strong class="title">Total Protected</strong>
																<dl>
																	<dt>Bushhels</dt>
																	<dd>60,000</dd>
																</dl>
															</div>
														</div>
													</div>
												</div>
												<div class="slide">
													<h3>2014</h3>
													<div class="frame">
														<div class="line">
															<div class="chart">
																<%= image_tag "img-chart01.png" %>
															</div>
															<div class="box">
																<dl>
																	<dt>Acres</dt>
																	<dd>1, 500</dd>
																	<dt>Yield</dt>
																	<dd>100</dd>
																	<dt>Prod</dt>
																	<dd>150, 000</dd>
																</dl>
															</div>
															<div class="box">
																<strong class="title">Case Sales / Headges</strong>
																<dl>
																	<dt>Bushhels</dt>
																	<dd>100</dd>
																	<dt>Avg prices</dt>
																	<dd>$500</dd>
																</dl>
															</div>
														</div>
														<div class="line">
															<div class="chart">
																<%= image_tag "img-chart01.png" %>
															</div>
															<div class="box">
																<dl>
																	<dt>Voriotle</dt>
																	<dd>$300</dd>
																	<dt>Overhead</dt>
																	<dd>$100</dd>
																	<dt>Total</dt>
																	<dd>$400</dd>
																</dl>
															</div>
															<div class="box">
																<strong class="title">Minimum prices</strong>
																<dl>
																	<dt>Bushhels</dt>
																	<dd>100</dd>
																	<dt>Avg prices</dt>
																	<dd>$500</dd>
																</dl>
															</div>
														</div>
														<div class="line">
															<div class="chart">
																<%= image_tag "img-chart01.png" %>
															</div>
															<div class="box">
																<dl>
																	<dt>Coat/ Unit</dt>
																	<dd>$4,00</dd>
																</dl>
															</div>
															<div class="box">
																<strong class="title">Total Protected</strong>
																<dl>
																	<dt>Bushhels</dt>
																	<dd>60,000</dd>
																</dl>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<a class="btn-prev icon-arrow-left" href="#"></a>
								<a class="btn-next icon-arrow-right" href="#"></a>
							</div>
							<div class="summary-carousel">
								<div class="holder">
									<div class="h-frame">
										<div class="mask">
											<div class="slideset">
												<div class="slide">
													<h3>2014 2</h3>
													<div class="frame">
														<div class="line">
															<div class="chart">
																<%= image_tag "img-chart01.png" %>
															</div>
															<div class="box">
																<dl>
																	<dt>Acres</dt>
																	<dd>1, 500</dd>
																	<dt>Yield</dt>
																	<dd>100</dd>
																	<dt>Prod</dt>
																	<dd>150, 000</dd>
																</dl>
															</div>
															<div class="box">
																<strong class="title">Case Sales / Headges</strong>
																<dl>
																	<dt>Bushhels</dt>
																	<dd>100</dd>
																	<dt>Avg prices</dt>
																	<dd>$500</dd>
																</dl>
															</div>
														</div>
														<div class="line">
															<div class="chart">
																<%= image_tag "img-chart01.png" %>
															</div>
															<div class="box">
																<dl>
																	<dt>Voriotle</dt>
																	<dd>$300</dd>
																	<dt>Overhead</dt>
																	<dd>$100</dd>
																	<dt>Total</dt>
																	<dd>$400</dd>
																</dl>
															</div>
															<div class="box">
																<strong class="title">Minimum prices</strong>
																<dl>
																	<dt>Bushhels</dt>
																	<dd>100</dd>
																	<dt>Avg prices</dt>
																	<dd>$500</dd>
																</dl>
															</div>
														</div>
														<div class="line">
															<div class="chart">
																<%= image_tag "img-chart01.png" %>
															</div>
															<div class="box">
																<dl>
																	<dt>Coat/ Unit</dt>
																	<dd>$4,00</dd>
																</dl>
															</div>
															<div class="box">
																<strong class="title">Total Protected</strong>
																<dl>
																	<dt>Bushhels</dt>
																	<dd>60,000</dd>
																</dl>
															</div>
														</div>
													</div>
												</div>
												<div class="slide">
													<h3>2015 2</h3>
													<div class="frame">
														<div class="line">
															<div class="chart">
																<%= image_tag "img-chart01.png" %>
															</div>
															<div class="box">
																<dl>
																	<dt>Acres</dt>
																	<dd>1, 500</dd>
																	<dt>Yield</dt>
																	<dd>100</dd>
																	<dt>Prod</dt>
																	<dd>150, 000</dd>
																</dl>
															</div>
															<div class="box">
																<strong class="title">Case Sales / Headges</strong>
																<dl>
																	<dt>Bushhels</dt>
																	<dd>100</dd>
																	<dt>Avg prices</dt>
																	<dd>$500</dd>
																</dl>
															</div>
														</div>
														<div class="line">
															<div class="chart">
																<%= image_tag "img-chart01.png" %>
															</div>
															<div class="box">
																<dl>
																	<dt>Voriotle</dt>
																	<dd>$300</dd>
																	<dt>Overhead</dt>
																	<dd>$100</dd>
																	<dt>Total</dt>
																	<dd>$400</dd>
																</dl>
															</div>
															<div class="box">
																<strong class="title">Minimum prices</strong>
																<dl>
																	<dt>Bushhels</dt>
																	<dd>100</dd>
																	<dt>Avg prices</dt>
																	<dd>$500</dd>
																</dl>
															</div>
														</div>
														<div class="line">
															<div class="chart">
																<%= image_tag "img-chart01.png" %>
															</div>
															<div class="box">
																<dl>
																	<dt>Coat/ Unit</dt>
																	<dd>$4,00</dd>
																</dl>
															</div>
															<div class="box">
																<strong class="title">Total Protected</strong>
																<dl>
																	<dt>Bushhels</dt>
																	<dd>60,000</dd>
																</dl>
															</div>
														</div>
													</div>
												</div>
												<div class="slide">
													<h3>2016 2</h3>
													<div class="frame">
														<div class="line">
															<div class="chart">
																<%= image_tag "img-chart01.png" %>
															</div>
															<div class="box">
																<dl>
																	<dt>Acres</dt>
																	<dd>1, 500</dd>
																	<dt>Yield</dt>
																	<dd>100</dd>
																	<dt>Prod</dt>
																	<dd>150, 000</dd>
																</dl>
															</div>
															<div class="box">
																<strong class="title">Case Sales / Headges</strong>
																<dl>
																	<dt>Bushhels</dt>
																	<dd>100</dd>
																	<dt>Avg prices</dt>
																	<dd>$500</dd>
																</dl>
															</div>
														</div>
														<div class="line">
															<div class="chart">
																<%= image_tag "img-chart01.png" %>
															</div>
															<div class="box">
																<dl>
																	<dt>Voriotle</dt>
																	<dd>$300</dd>
																	<dt>Overhead</dt>
																	<dd>$100</dd>
																	<dt>Total</dt>
																	<dd>$400</dd>
																</dl>
															</div>
															<div class="box">
																<strong class="title">Minimum prices</strong>
																<dl>
																	<dt>Bushhels</dt>
																	<dd>100</dd>
																	<dt>Avg prices</dt>
																	<dd>$500</dd>
																</dl>
															</div>
														</div>
														<div class="line">
															<div class="chart">
																<%= image_tag "img-chart01.png" %>
															</div>
															<div class="box">
																<dl>
																	<dt>Coat/ Unit</dt>
																	<dd>$4,00</dd>
																</dl>
															</div>
															<div class="box">
																<strong class="title">Total Protected</strong>
																<dl>
																	<dt>Bushhels</dt>
																	<dd>60,000</dd>
																</dl>
															</div>
														</div>
													</div>
												</div>
												<div class="slide">
													<h3>2014 2</h3>
													<div class="frame">
														<div class="line">
															<div class="chart">
																<%= image_tag "img-chart01.png" %>
															</div>
															<div class="box">
																<dl>
																	<dt>Acres</dt>
																	<dd>1, 500</dd>
																	<dt>Yield</dt>
																	<dd>100</dd>
																	<dt>Prod</dt>
																	<dd>150, 000</dd>
																</dl>
															</div>
															<div class="box">
																<strong class="title">Case Sales / Headges</strong>
																<dl>
																	<dt>Bushhels</dt>
																	<dd>100</dd>
																	<dt>Avg prices</dt>
																	<dd>$500</dd>
																</dl>
															</div>
														</div>
														<div class="line">
															<div class="chart">
																<%= image_tag "img-chart01.png" %>
															</div>
															<div class="box">
																<dl>
																	<dt>Voriotle</dt>
																	<dd>$300</dd>
																	<dt>Overhead</dt>
																	<dd>$100</dd>
																	<dt>Total</dt>
																	<dd>$400</dd>
																</dl>
															</div>
															<div class="box">
																<strong class="title">Minimum prices</strong>
																<dl>
																	<dt>Bushhels</dt>
																	<dd>100</dd>
																	<dt>Avg prices</dt>
																	<dd>$500</dd>
																</dl>
															</div>
														</div>
														<div class="line">
															<div class="chart">
																<%= image_tag "img-chart01.png" %>
															</div>
															<div class="box">
																<dl>
																	<dt>Coat/ Unit</dt>
																	<dd>$4,00</dd>
																</dl>
															</div>
															<div class="box">
																<strong class="title">Total Protected</strong>
																<dl>
																	<dt>Bushhels</dt>
																	<dd>60,000</dd>
																</dl>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<a class="btn-prev icon-arrow-left" href="#"></a>
								<a class="btn-next icon-arrow-right" href="#"></a>
							</div>
							<div class="summary-carousel">
								<div class="holder">
									<div class="h-frame">
										<div class="mask">
											<div class="slideset">
												<div class="slide">
													<h3>2014 3</h3>
													<div class="frame">
														<div class="line">
															<div class="chart">
																<%= image_tag "img-chart01.png" %>
															</div>
															<div class="box">
																<dl>
																	<dt>Acres</dt>
																	<dd>1, 500</dd>
																	<dt>Yield</dt>
																	<dd>100</dd>
																	<dt>Prod</dt>
																	<dd>150, 000</dd>
																</dl>
															</div>
															<div class="box">
																<strong class="title">Case Sales / Headges</strong>
																<dl>
																	<dt>Bushhels</dt>
																	<dd>100</dd>
																	<dt>Avg prices</dt>
																	<dd>$500</dd>
																</dl>
															</div>
														</div>
														<div class="line">
															<div class="chart">
																<%= image_tag "img-chart01.png" %>
															</div>
															<div class="box">
																<dl>
																	<dt>Voriotle</dt>
																	<dd>$300</dd>
																	<dt>Overhead</dt>
																	<dd>$100</dd>
																	<dt>Total</dt>
																	<dd>$400</dd>
																</dl>
															</div>
															<div class="box">
																<strong class="title">Minimum prices</strong>
																<dl>
																	<dt>Bushhels</dt>
																	<dd>100</dd>
																	<dt>Avg prices</dt>
																	<dd>$500</dd>
																</dl>
															</div>
														</div>
														<div class="line">
															<div class="chart">
																<%= image_tag "img-chart01.png" %>
															</div>
															<div class="box">
																<dl>
																	<dt>Coat/ Unit</dt>
																	<dd>$4,00</dd>
																</dl>
															</div>
															<div class="box">
																<strong class="title">Total Protected</strong>
																<dl>
																	<dt>Bushhels</dt>
																	<dd>60,000</dd>
																</dl>
															</div>
														</div>
													</div>
												</div>
												<div class="slide">
													<h3>2015 3</h3>
													<div class="frame">
														<div class="line">
															<div class="chart">
																<img src="images/img-chart01.png" height="74" width="74" alt="image description">
															</div>
															<div class="box">
																<dl>
																	<dt>Acres</dt>
																	<dd>1, 500</dd>
																	<dt>Yield</dt>
																	<dd>100</dd>
																	<dt>Prod</dt>
																	<dd>150, 000</dd>
																</dl>
															</div>
															<div class="box">
																<strong class="title">Case Sales / Headges</strong>
																<dl>
																	<dt>Bushhels</dt>
																	<dd>100</dd>
																	<dt>Avg prices</dt>
																	<dd>$500</dd>
																</dl>
															</div>
														</div>
														<div class="line">
															<div class="chart">
																<img src="images/img-chart02.png" height="74" width="74" alt="image description">
															</div>
															<div class="box">
																<dl>
																	<dt>Voriotle</dt>
																	<dd>$300</dd>
																	<dt>Overhead</dt>
																	<dd>$100</dd>
																	<dt>Total</dt>
																	<dd>$400</dd>
																</dl>
															</div>
															<div class="box">
																<strong class="title">Minimum prices</strong>
																<dl>
																	<dt>Bushhels</dt>
																	<dd>100</dd>
																	<dt>Avg prices</dt>
																	<dd>$500</dd>
																</dl>
															</div>
														</div>
														<div class="line">
															<div class="chart">
																<img src="images/img-chart03.png" height="74" width="74" alt="image description">
															</div>
															<div class="box">
																<dl>
																	<dt>Coat/ Unit</dt>
																	<dd>$4,00</dd>
																</dl>
															</div>
															<div class="box">
																<strong class="title">Total Protected</strong>
																<dl>
																	<dt>Bushhels</dt>
																	<dd>60,000</dd>
																</dl>
															</div>
														</div>
													</div>
												</div>
												<div class="slide">
													<h3>2016 3</h3>
													<div class="frame">
														<div class="line">
															<div class="chart">
																<img src="images/img-chart01.png" height="74" width="74" alt="image description">
															</div>
															<div class="box">
																<dl>
																	<dt>Acres</dt>
																	<dd>1, 500</dd>
																	<dt>Yield</dt>
																	<dd>100</dd>
																	<dt>Prod</dt>
																	<dd>150, 000</dd>
																</dl>
															</div>
															<div class="box">
																<strong class="title">Case Sales / Headges</strong>
																<dl>
																	<dt>Bushhels</dt>
																	<dd>100</dd>
																	<dt>Avg prices</dt>
																	<dd>$500</dd>
																</dl>
															</div>
														</div>
														<div class="line">
															<div class="chart">
																<img src="images/img-chart02.png" height="74" width="74" alt="image description">
															</div>
															<div class="box">
																<dl>
																	<dt>Voriotle</dt>
																	<dd>$300</dd>
																	<dt>Overhead</dt>
																	<dd>$100</dd>
																	<dt>Total</dt>
																	<dd>$400</dd>
																</dl>
															</div>
															<div class="box">
																<strong class="title">Minimum prices</strong>
																<dl>
																	<dt>Bushhels</dt>
																	<dd>100</dd>
																	<dt>Avg prices</dt>
																	<dd>$500</dd>
																</dl>
															</div>
														</div>
														<div class="line">
															<div class="chart">
																<img src="images/img-chart03.png" height="74" width="74" alt="image description">
															</div>
															<div class="box">
																<dl>
																	<dt>Coat/ Unit</dt>
																	<dd>$4,00</dd>
																</dl>
															</div>
															<div class="box">
																<strong class="title">Total Protected</strong>
																<dl>
																	<dt>Bushhels</dt>
																	<dd>60,000</dd>
																</dl>
															</div>
														</div>
													</div>
												</div>
												<div class="slide">
													<h3>2014 3</h3>
													<div class="frame">
														<div class="line">
															<div class="chart">
																<img src="images/img-chart01.png" height="74" width="74" alt="image description">
															</div>
															<div class="box">
																<dl>
																	<dt>Acres</dt>
																	<dd>1, 500</dd>
																	<dt>Yield</dt>
																	<dd>100</dd>
																	<dt>Prod</dt>
																	<dd>150, 000</dd>
																</dl>
															</div>
															<div class="box">
																<strong class="title">Case Sales / Headges</strong>
																<dl>
																	<dt>Bushhels</dt>
																	<dd>100</dd>
																	<dt>Avg prices</dt>
																	<dd>$500</dd>
																</dl>
															</div>
														</div>
														<div class="line">
															<div class="chart">
																<img src="images/img-chart02.png" height="74" width="74" alt="image description">
															</div>
															<div class="box">
																<dl>
																	<dt>Voriotle</dt>
																	<dd>$300</dd>
																	<dt>Overhead</dt>
																	<dd>$100</dd>
																	<dt>Total</dt>
																	<dd>$400</dd>
																</dl>
															</div>
															<div class="box">
																<strong class="title">Minimum prices</strong>
																<dl>
																	<dt>Bushhels</dt>
																	<dd>100</dd>
																	<dt>Avg prices</dt>
																	<dd>$500</dd>
																</dl>
															</div>
														</div>
														<div class="line">
															<div class="chart">
																<img src="images/img-chart03.png" height="74" width="74" alt="image description">
															</div>
															<div class="box">
																<dl>
																	<dt>Coat/ Unit</dt>
																	<dd>$4,00</dd>
																</dl>
															</div>
															<div class="box">
																<strong class="title">Total Protected</strong>
																<dl>
																	<dt>Bushhels</dt>
																	<dd>60,000</dd>
																</dl>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<a class="btn-prev icon-arrow-left" href="#"></a>
								<a class="btn-next icon-arrow-right" href="#"></a>
							</div>
							<div class="summary-carousel">
								<div class="holder">
									<div class="h-frame">
										<div class="mask">
											<div class="slideset">
												<div class="slide">
													<h3>2014 4</h3>
													<div class="frame">
														<div class="line">
															<div class="chart">
																<img src="images/img-chart01.png" height="74" width="74" alt="image description">
															</div>
															<div class="box">
																<dl>
																	<dt>Acres</dt>
																	<dd>1, 500</dd>
																	<dt>Yield</dt>
																	<dd>100</dd>
																	<dt>Prod</dt>
																	<dd>150, 000</dd>
																</dl>
															</div>
															<div class="box">
																<strong class="title">Case Sales / Headges</strong>
																<dl>
																	<dt>Bushhels</dt>
																	<dd>100</dd>
																	<dt>Avg prices</dt>
																	<dd>$500</dd>
																</dl>
															</div>
														</div>
														<div class="line">
															<div class="chart">
																<img src="images/img-chart02.png" height="74" width="74" alt="image description">
															</div>
															<div class="box">
																<dl>
																	<dt>Voriotle</dt>
																	<dd>$300</dd>
																	<dt>Overhead</dt>
																	<dd>$100</dd>
																	<dt>Total</dt>
																	<dd>$400</dd>
																</dl>
															</div>
															<div class="box">
																<strong class="title">Minimum prices</strong>
																<dl>
																	<dt>Bushhels</dt>
																	<dd>100</dd>
																	<dt>Avg prices</dt>
																	<dd>$500</dd>
																</dl>
															</div>
														</div>
														<div class="line">
															<div class="chart">
																<img src="images/img-chart03.png" height="74" width="74" alt="image description">
															</div>
															<div class="box">
																<dl>
																	<dt>Coat/ Unit</dt>
																	<dd>$4,00</dd>
																</dl>
															</div>
															<div class="box">
																<strong class="title">Total Protected</strong>
																<dl>
																	<dt>Bushhels</dt>
																	<dd>60,000</dd>
																</dl>
															</div>
														</div>
													</div>
												</div>
												<div class="slide">
													<h3>2015 4</h3>
													<div class="frame">
														<div class="line">
															<div class="chart">
																<img src="images/img-chart01.png" height="74" width="74" alt="image description">
															</div>
															<div class="box">
																<dl>
																	<dt>Acres</dt>
																	<dd>1, 500</dd>
																	<dt>Yield</dt>
																	<dd>100</dd>
																	<dt>Prod</dt>
																	<dd>150, 000</dd>
																</dl>
															</div>
															<div class="box">
																<strong class="title">Case Sales / Headges</strong>
																<dl>
																	<dt>Bushhels</dt>
																	<dd>100</dd>
																	<dt>Avg prices</dt>
																	<dd>$500</dd>
																</dl>
															</div>
														</div>
														<div class="line">
															<div class="chart">
																<img src="images/img-chart02.png" height="74" width="74" alt="image description">
															</div>
															<div class="box">
																<dl>
																	<dt>Voriotle</dt>
																	<dd>$300</dd>
																	<dt>Overhead</dt>
																	<dd>$100</dd>
																	<dt>Total</dt>
																	<dd>$400</dd>
																</dl>
															</div>
															<div class="box">
																<strong class="title">Minimum prices</strong>
																<dl>
																	<dt>Bushhels</dt>
																	<dd>100</dd>
																	<dt>Avg prices</dt>
																	<dd>$500</dd>
																</dl>
															</div>
														</div>
														<div class="line">
															<div class="chart">
																<img src="images/img-chart03.png" height="74" width="74" alt="image description">
															</div>
															<div class="box">
																<dl>
																	<dt>Coat/ Unit</dt>
																	<dd>$4,00</dd>
																</dl>
															</div>
															<div class="box">
																<strong class="title">Total Protected</strong>
																<dl>
																	<dt>Bushhels</dt>
																	<dd>60,000</dd>
																</dl>
															</div>
														</div>
													</div>
												</div>
												<div class="slide">
													<h3>2016 4</h3>
													<div class="frame">
														<div class="line">
															<div class="chart">
																<img src="images/img-chart01.png" height="74" width="74" alt="image description">
															</div>
															<div class="box">
																<dl>
																	<dt>Acres</dt>
																	<dd>1, 500</dd>
																	<dt>Yield</dt>
																	<dd>100</dd>
																	<dt>Prod</dt>
																	<dd>150, 000</dd>
																</dl>
															</div>
															<div class="box">
																<strong class="title">Case Sales / Headges</strong>
																<dl>
																	<dt>Bushhels</dt>
																	<dd>100</dd>
																	<dt>Avg prices</dt>
																	<dd>$500</dd>
																</dl>
															</div>
														</div>
														<div class="line">
															<div class="chart">
																<img src="images/img-chart02.png" height="74" width="74" alt="image description">
															</div>
															<div class="box">
																<dl>
																	<dt>Voriotle</dt>
																	<dd>$300</dd>
																	<dt>Overhead</dt>
																	<dd>$100</dd>
																	<dt>Total</dt>
																	<dd>$400</dd>
																</dl>
															</div>
															<div class="box">
																<strong class="title">Minimum prices</strong>
																<dl>
																	<dt>Bushhels</dt>
																	<dd>100</dd>
																	<dt>Avg prices</dt>
																	<dd>$500</dd>
																</dl>
															</div>
														</div>
														<div class="line">
															<div class="chart">
																<img src="images/img-chart03.png" height="74" width="74" alt="image description">
															</div>
															<div class="box">
																<dl>
																	<dt>Coat/ Unit</dt>
																	<dd>$4,00</dd>
																</dl>
															</div>
															<div class="box">
																<strong class="title">Total Protected</strong>
																<dl>
																	<dt>Bushhels</dt>
																	<dd>60,000</dd>
																</dl>
															</div>
														</div>
													</div>
												</div>
												<div class="slide">
													<h3>2014 4</h3>
													<div class="frame">
														<div class="line">
															<div class="chart">
																<img src="images/img-chart01.png" height="74" width="74" alt="image description">
															</div>
															<div class="box">
																<dl>
																	<dt>Acres</dt>
																	<dd>1, 500</dd>
																	<dt>Yield</dt>
																	<dd>100</dd>
																	<dt>Prod</dt>
																	<dd>150, 000</dd>
																</dl>
															</div>
															<div class="box">
																<strong class="title">Case Sales / Headges</strong>
																<dl>
																	<dt>Bushhels</dt>
																	<dd>100</dd>
																	<dt>Avg prices</dt>
																	<dd>$500</dd>
																</dl>
															</div>
														</div>
														<div class="line">
															<div class="chart">
																<img src="images/img-chart02.png" height="74" width="74" alt="image description">
															</div>
															<div class="box">
																<dl>
																	<dt>Voriotle</dt>
																	<dd>$300</dd>
																	<dt>Overhead</dt>
																	<dd>$100</dd>
																	<dt>Total</dt>
																	<dd>$400</dd>
																</dl>
															</div>
															<div class="box">
																<strong class="title">Minimum prices</strong>
																<dl>
																	<dt>Bushhels</dt>
																	<dd>100</dd>
																	<dt>Avg prices</dt>
																	<dd>$500</dd>
																</dl>
															</div>
														</div>
														<div class="line">
															<div class="chart">
																<img src="images/img-chart03.png" height="74" width="74" alt="image description">
															</div>
															<div class="box">
																<dl>
																	<dt>Coat/ Unit</dt>
																	<dd>$4,00</dd>
																</dl>
															</div>
															<div class="box">
																<strong class="title">Total Protected</strong>
																<dl>
																	<dt>Bushhels</dt>
																	<dd>60,000</dd>
																</dl>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<a class="btn-prev icon-arrow-left" href="#"></a>
								<a class="btn-next icon-arrow-right" href="#"></a>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="news-block white-box">
						<div class="heading">
							<a href="#" class="btn yellow-btn">10 Messages</a>
							<h2>market news</h2>
						</div>
						<div class="news-box">
							<div class="jcf-scrollable">
								<ul class="news-list">
									<li>
										<div class="pic-holder">
											<span class="avatar">
												<img src="images/photo01.jpg" alt="image description" width="53" height="53">
											</span>
										</div>
										<div class="text-box">
											<strong class="person-name">Monica Smith.</strong>
											<p>Lorem Ipsum is simply dummy text of the printing and typesetting.</p>
											<time class="post-date" datetime="2015-06-12T17:06">Today 5:06 pm  - 12.06.2015</time>
										</div>
										<span class="post-in-time">5m ago</span>
									</li>
									<li>
										<div class="pic-holder">
											<span class="avatar">
												<img src="images/photo01.jpg" alt="image description" width="53" height="53">
											</span>
										</div>
										<div class="text-box">
											<strong class="person-name">Monica Smith.</strong>
											<p>Lorem Ipsum is simply dummy text of the printing and typesetting.</p>
											<time class="post-date" datetime="2015-06-12T17:06">Today 5:06 pm  - 12.06.2015</time>
										</div>
										<span class="post-in-time">5m ago</span>
									</li>
									<li>
										<div class="pic-holder">
											<span class="avatar">
												<img src="images/photo01.jpg" alt="image description" width="53" height="53">
											</span>
										</div>
										<div class="text-box">
											<strong class="person-name">Monica Smith.</strong>
											<p>Lorem Ipsum is simply dummy text of the printing and typesetting.</p>
											<time class="post-date" datetime="2015-06-12T17:06">Today 5:06 pm  - 12.06.2015</time>
										</div>
										<span class="post-in-time">5m ago</span>
									</li>
									<li>
										<div class="pic-holder">
											<span class="avatar">
												<img src="images/photo01.jpg" alt="image description" width="53" height="53">
											</span>
										</div>
										<div class="text-box">
											<strong class="person-name">Monica Smith.</strong>
											<p>Lorem Ipsum is simply dummy text of the printing and typesetting.</p>
											<time class="post-date" datetime="2015-06-12T17:06">Today 5:06 pm  - 12.06.2015</time>
										</div>
										<span class="post-in-time">5m ago</span>
									</li>
									<li>
										<div class="pic-holder">
											<span class="avatar">
												<img src="images/photo01.jpg" alt="image description" width="53" height="53">
											</span>
										</div>
										<div class="text-box">
											<strong class="person-name">Monica Smith.</strong>
											<p>Lorem Ipsum is simply dummy text of the printing and typesetting.</p>
											<time class="post-date" datetime="2015-06-12T17:06">Today 5:06 pm  - 12.06.2015</time>
										</div>
										<span class="post-in-time">5m ago</span>
									</li>
									<li>
										<div class="pic-holder">
											<span class="avatar">
												<img src="images/photo01.jpg" alt="image description" width="53" height="53">
											</span>
										</div>
										<div class="text-box">
											<strong class="person-name">Monica Smith.</strong>
											<p>Lorem Ipsum is simply dummy text of the printing and typesetting.</p>
											<time class="post-date" datetime="2015-06-12T17:06">Today 5:06 pm  - 12.06.2015</time>
										</div>
										<span class="post-in-time">5m ago</span>
									</li>
									<li>
										<div class="pic-holder">
											<span class="avatar">
												<img src="images/photo01.jpg" alt="image description" width="53" height="53">
											</span>
										</div>
										<div class="text-box">
											<strong class="person-name">Monica Smith.</strong>
											<p>Lorem Ipsum is simply dummy text of the printing and typesetting.</p>
											<time class="post-date" datetime="2015-06-12T17:06">Today 5:06 pm  - 12.06.2015</time>
										</div>
										<span class="post-in-time">5m ago</span>
									</li>
									<li>
										<div class="pic-holder">
											<span class="avatar">
												<img src="images/photo01.jpg" alt="image description" width="53" height="53">
											</span>
										</div>
										<div class="text-box">
											<strong class="person-name">Monica Smith.</strong>
											<p>Lorem Ipsum is simply dummy text of the printing and typesetting.</p>
											<time class="post-date" datetime="2015-06-12T17:06">Today 5:06 pm  - 12.06.2015</time>
										</div>
										<span class="post-in-time">5m ago</span>
									</li>
								</ul>
							</div>
						</div>
						<ul class="action-links">
							<li><a href="#" class="love"></a></li>
							<li><a href="#" class="like"></a></li>
						</ul>
					</div>
					<div class="testimonial-block white-box">
						<div class="heading">
							<h2>Recommendations</h2>
						</div>
						<div class="post-area">
							<div class="jcf-scrollable">
								<div class="post-holder">
									<div class="post">
										<div class="pic-holder">
											<span class="avatar">
												<img src="images/photo01.jpg" alt="image description" width="53" height="53">
											</span>
										</div>
										<div class="post-frame">
											<div class="text-box">
												<span class="post-in-time">2h ago</span>
												<strong class="person-name">Kim Smith</strong>
												<p>posted a new blog.</p>
												<time class="post-date" datetime="2015-06-12T17:06">Today 5:06 pm  - 12.06.2015</time>
											</div>
											<div class="post-content">
												<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining like Aldus PageMaker including versions of Lorem Ipsum.</p>
												<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.  Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
											</div>
										</div>
									</div>
									<div class="post">
										<div class="pic-holder">
											<span class="avatar">
												<img src="images/photo01.jpg" alt="image description" width="53" height="53">
											</span>
										</div>
										<div class="post-frame">
											<div class="text-box">
												<span class="post-in-time">2h ago</span>
												<strong class="person-name">Kim Smith</strong>
												<p>posted a new blog.</p>
												<time class="post-date" datetime="2015-06-12T17:06">Today 5:06 pm  - 12.06.2015</time>
											</div>
											<div class="post-content">
												<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining like Aldus PageMaker including versions of Lorem Ipsum.</p>
												<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.  Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
											</div>
										</div>
									</div>
									<div class="post">
										<div class="pic-holder">
											<span class="avatar">
												<img src="images/photo01.jpg" alt="image description" width="53" height="53">
											</span>
										</div>
										<div class="post-frame">
											<div class="text-box">
												<span class="post-in-time">2h ago</span>
												<strong class="person-name">Kim Smith</strong>
												<p>posted a new blog.</p>
												<time class="post-date" datetime="2015-06-12T17:06">Today 5:06 pm  - 12.06.2015</time>
											</div>
											<div class="post-content">
												<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining like Aldus PageMaker including versions of Lorem Ipsum.</p>
												<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.  Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<ul class="action-links">
								<li><a href="#" class="love"></a></li>
								<li><a href="#" class="like"></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		
